<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Rated Anime</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/top.css" />
  </head>
  <body>
    <h1>Top Rated Anime</h1>
    <ul>
      <% topAnimes.map(anime => {%>
      <li><%= anime.attributes.canonicalTitle %></li>

      <% }) %>
    </ul>

    <% if (page > 0) { %>
    <a href="/top-rated?page=<%= page - 1 %>">Previous Page</a>
    <% } %> <% if (topAnimes.length === limit) { %>
    <a href="/top-rated?page=<%= page + 1 %>">Next Page</a>
    <%} %>
  </body>
</html>
